.header {
    font-size: 50%;
}

#sidebar {
    border-top: 1px solid #99CC33;
    border-left: 1px solid #99CC33;
    height: 300px;
    width: 200px;
    float: left;
    margin-left: 5px;
    padding: 5px 0 0 5px;
    font-size: 300%;
}
