/*
Colors:
  badger red: #b70101
  gold: #E7D9C1 
  black: #000000
  medium grey: #C8C5BB
*/

body {
    margin:0;
    font-family:;
}

.header {
    background-color:#b70101;
    color:white;
}

.bigheader {
    font-size: 400%;
}

.subheader {
    font-size:150%;
}

.sidebar {
    background-color:#C8C5BB;
    color:black;
    padding:10px;
    margin:0;
}

.viz {
    background-color:white;
}

.smallLabel {
    font-size: 100%;
}

.midLabel {
    font-weight:bold;
}

.bigLabel {
    padding-top:20px;
    padding-bottom:5px;
    text-align:left; 
    font-size:125%;
    font-weight:bold;
}

.vizTitle {
    /*width:" + vizw + "px;*/
    text-align:center; 
    font-size:250%;
}

.doiSlider {
    width:100px;
    vertical-align:middle;
}

.numDatumsSlider {
    width:200px;
}

.yearSlider {
    width:500px;
}

.doiLegend {

}
